<div>
  name {{input value=name}}
</div>
<div>
  registration  {{input value=registration}}
</div>
<div>
  phone {{input value=phone}}
</div>
<div>
  email {{input value=email}}
</div>
<button {{action "send" studentId}}>{{textSendButton}}</button>